.myDiv {
    border: 10px outset;    
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    color: white;
    min-height: 500px;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
  }

  body{
    text-align: center;
  }
  .myContainer{
    border: 10px outset;
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
    color: white;
    min-height: 500px;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;

  }

  .my-container{
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg);
    color: white;
    min-height: 500px;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
  }

  
  